:root{
	--primary: #f77900;
	--secondary: #212529;
	--primary-hover: #e2740b;
	--primary-dark: #cc6c12;
	--rgba-primary-1: rgba(226,116,11,0.1);
	--rgba-primary-2: rgba(226,116,11,0.2);
	--rgba-primary-3: rgba(226,116,11,0.3);
	--rgba-primary-4: rgba(226,116,11,0.4);
	--rgba-primary-5: rgba(226,116,11,0.5);
	--rgba-primary-6: rgba(226,116,11,0.6);
	--rgba-primary-7: rgba(226,116,11,0.7);
	--rgba-primary-8: rgba(226,116,11,0.8);
	--rgba-primary-9: rgba(226,116,11,0.9);
	--title: #212529;
}